/**********************************
	
			SASS Variables
				and
			   Mixins
			
**********************************/
/**********************************
	
			General
			
**********************************/
body {
  background-color: #505782;
  font-family: 'Roboto', sans-serif; }

div.ng-scope {
  top: 0;
  position: absolute;
  margin: 0;
  padding: 0; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

.transparent-btn {
  margin: 0 auto;
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-weight: 300;
  border: solid 1px #e1e4ec;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  margin-left: 23%; }

.transparent-btn:hover, .transparent-btn:focus {
  background-color: #e1e4ec;
  color: black; }

.large-btn {
  width: 200px;
  height: 50px; }

/**********************************
	
			Nav Bar
			
**********************************/
@media screen and (max-width: 520px) {
  .nav-bar-wrapper {
    background-color: transparent; }
    .nav-bar-wrapper header {
      top: 0; }
      .nav-bar-wrapper header ul {
        font-weight: 300;
        list-style: none;
        float: right;
        height: 25px;
        background-color: #202540;
        width: 100%;
        padding: 15px 0 15px 0;
        margin: 0; }
        .nav-bar-wrapper header ul li {
          display: inline-block;
          margin-right: 10px;
          color: #fff; }
        .nav-bar-wrapper header ul li:first-child {
          margin-left: 10%; }
        .nav-bar-wrapper header ul li:nth-child(2), .nav-bar-wrapper header ul li:nth-child(3) {
          float: right;
          margin-right: 20px; }
        .nav-bar-wrapper header ul li a:link, .nav-bar-wrapper header ul li a:visited {
          color: #fff;
          text-decoration: none; } }
/**********************************
	
			Home Page
			
**********************************/
h1 {
  color: #ebeef6;
  font-size: 2em;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-weight: 100;
  border: 1px solid #e1e4ec;
  text-transform: uppercase;
  margin-top: 40%;
  border-radius: 2px; }

@media only screen and (max-width: 520px) {
  .explanation-text {
    font-weight: 100;
    font-size: 1.1em;
    width: 80%;
    margin-left: 10%;
    text-align: center; }
    .explanation-text .italic {
      font-style: italic; }

  #explanation {
    color: white;
    width: 100%;
    height: 300px;
    margin-top: 25px;
    position: relative;
    z-index: -3; } }
/**********************************
	
			Body Content
			
**********************************/
#body-content {
  position: relative; }

/**********************************
	
			New Suggestion
			
**********************************/
.error-form {
  color: red; }

/**********************************
	
			Login Page
			
**********************************/
.login-error-message {
  color: red; }

/*# sourceMappingURL=style.css.map */
