$nav-bar-black: rgb(37, 37, 37);
$explanation-black: rgb(20, 20, 20);


@mixin opacity($opacity)
{
	zoom: 1;
	filter: alpha(opacity = ($opacity * 100) );
	opacity: $opacity;
}

@mixin skew($degree)
{
	-ms-transform: rotate($degree); /* IE 9 */
    -webkit-transform: rotate($degree); /* Safari */
    transform: rotate($degree);
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/**********************************
	
			Nav Bar
			
**********************************/


@media only screen and (max-width: 520px) {

	.nav-bar-wrapper
	{
		margin-top: -16px;
		background-color: #fff;
// 		@include opacity(0.5);
		h1
		{
			font-size: 2em;
			text-align: center;
			width: 80%;
			margin-left: 10%;
		}
		header
		{
			ul
			{
				list-style: none;
				float: right;
				height: 25px;
				background-color: $nav-bar-black;
				width: 100%;
				padding: 20px 0 10px 0;
				color: red;

				li
				{
					display: inline-block;
					margin-right: 10px;
					color: #fff;
				}
				li:first-child
				{
					margin-left: 20%;
				}
				
				li a:link, li a:visited
				{
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

/**********************************
	
			Explanation Area
			
**********************************/

.explanation-text
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	.italic
	{
		font-style: italic;
	}
}

@media only screen and (max-width: 520px) {
	
	#explanation
	{
		color: white;
		width: 100%;
		height: 300px;
		background-color: $explanation-black;
		margin-top: 90px;
		position: relative;
		z-index: -3;
	}

	.corner-cutoff
	{
		position: relative;
		margin-top: 35px;
		margin-left: -10%;
		width: 120%;
		height: 120px; 
		background-color: white;
		@include skew(5deg);
		z-index: -2;
	}
}
/**********************************
	
			Body Content
			
**********************************/

#body-content
{
	position: relative;
	z-index: 10;
// 	margin-top: 60px;
}


/**********************************
	
			New Suggestion
			
**********************************/

.error-form
{
	color: red;
}