/**********************************
	
			SASS Variables
				and
			   Mixins
			
**********************************/
$nav-bar: 							rgb(32, 37, 64);
$explanation-black: 				rgb(20, 20, 20);
$default_background_colour: 		rgb(80,87,130);
$defualt_font_color: 				rgb(235, 238, 246);
$default_font_color_alternative:	rgb(225, 228, 236);


@mixin opacity($opacity)
{
	zoom: 1;
	filter: alpha(opacity = ($opacity * 100) );
	opacity: $opacity;
}

@mixin skew($degree)
{
	-ms-transform: rotate($degree); /* IE 9 */
    -webkit-transform: rotate($degree); /* Safari */
    transform: rotate($degree);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/**********************************
	
			General
			
**********************************/

body
{
	background-color: $default_background_colour;
	font-family: 'Roboto', sans-serif;
}

div.ng-scope
{
	top: 0;
	position: absolute;
	margin: 0;
	padding: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak 
{
  display: none !important;
}



.transparent-btn
{
	margin: 0 auto;
	width: 100px;
	height: 40px;
	background-color: transparent;
	color: #fff;
	font-weight: 300;
	border: solid 1px $default_font_color_alternative;
	text-transform: uppercase;
	border-radius: 2px;
	@include transition(background-color .5s ease);
	
	//temp hack
	margin-left: 23%;

}

.transparent-btn:hover, .transparent-btn:focus
{
	background-color: $default_font_color_alternative;
	color: black;
	
	
}
.large-btn
{
	width: 200px;
	height: 50px;
}

/**********************************
	
			Nav Bar
			
**********************************/


@media screen and (max-width: 520px) {

	.nav-bar-wrapper
	{

		background-color: transparent;
// 		@include opacity(0.5);
		
		header
		{
			
			top: 0;
			ul
			{
				font-weight: 300;
				list-style: none;
				float: right;
				height: 25px;
				background-color: $nav-bar;
				width: 100%;
				padding: 15px 0 15px 0;
				margin: 0;

				li
				{
					display: inline-block;
					margin-right: 10px;
					color: #fff;
				}
				li:first-child
				{
					margin-left: 10%;
				}
				li:nth-child(2), li:nth-child(3)
				{
					float: right;
					margin-right: 20px;
				}
				
				li a:link, li a:visited
				{
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}

/**********************************
	
			Home Page
			
**********************************/

h1
{
	color: $defualt_font_color;
	font-size: 2em;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	font-weight: 100;
	border: 1px solid $default_font_color_alternative;
	text-transform: uppercase;
	margin-top: 40%;
	border-radius: 2px;

}


@media only screen and (max-width: 520px) {
	.explanation-text
	{
		font-weight: 100;
		font-size: 1.1em;
		width: 80%;
		margin-left: 10%;
		text-align: center;
		.italic
		{
			font-style: italic;
		}
	}
	
	#explanation
	{
		color: white;
		width: 100%;
		height: 300px;
		margin-top: 25px;
		position: relative;
		z-index: -3;
	}
	

}
/**********************************
	
			Body Content
			
**********************************/

#body-content
{
	position: relative;
	
// 	margin-top: 60px;
}


/**********************************
	
			New Suggestion
			
**********************************/

.error-form
{
	color: red;
}

/**********************************
	
			Login Page
			
**********************************/

.login-error-message
{
	color: red;
}