<nav-bar></nav-bar>
		
<div id = 'explanation'>
	<p class = "explanation-text">
		"What do you wanna do?"
		<br />
		"I dunno, what do you wanna do?"
		<br />
		This conversation can go on for the whole night. With <span class = "italic">What do you wanna do? </span> you can make this dialogue into a fun game. Every 5 minutes you get 3 suggestions of activities you can do. The objective is to choose one of the 3 suggestions and see where the night takes you! 
	</p>
	<div class = "corner-cutoff"></div>
</div>



{{message}}
<br />
<button ng-click="routeSuggestion()">Get Started!</button> <br>

Have a custom idea? <br />
<button ng-click="newSuggestion()">Create New Suggetion</button>