<nav-bar></nav-bar>

<h1 class = "login-signup-header signup">Login</h1>

<form class = "user-login-form" name= "loginForm">

	<i class="fa fa-user"></i><input type="text" ng-model = "loginInfo.username" ng-value = "loggingInUsername" placeholder="User Name"/><br />
	

	<i class="fa fa-key"></i><input type="password" ng-model = "loginInfo.password" placeholder="Password"/><br />
	
	<button class="transparent-btn small-btn" ng-click = "loginUser()">Login!</button>
</form>




<h1 class = "login-signup-header login">Signup</h1>

<form class = "user-login-form" name = "signUpForm">

	<i class="fa fa-user"></i><input type="text" ng-model="newUserForm.username" placeholder="User Name"/><br />
	
	
	<i class="fa fa-envelope"></i><input type="text" ng-model ="newUserForm.email" placeholder="Email Address"/><br />
	

	<i class="fa fa-key"></i><input type="password" ng-model ="newUserForm.password" placeholder="Password"/><br />

	<button class="transparent-btn small-btn" ng-click="signUpUser()">Sign Up!</button>
</form>


<div class = "login-error-message" ng-if="loginControllerError" sty>
	Incorrect Credentials. Please try again
</div>