
<nav-bar></nav-bar>
	
<div class = "dashboard-welcome">
	Welcome back, {{username}}!
</div>


<div class = "user-suggestions">
	<div class ="dashboard-message">
		<div ng-show ="isAlyssa" >Hi there lover, sorry it took so long for me to take advantage of all these lovely ideas that you thought of. As I was going through them I couldn't help but smile and realize how much I'm in love with you. I hope we can use all these activities one day. All the love in the world always (always), Eric Alas.</div>
		Add a new activity to do, <br /> <button class = "transparent-btn long-btn small-isolate" ng-click="newSuggestion()">New Suggestion!</button><br />
		or view your current suggestions:
	</div>
	<input type="text" class = "search-suggestions" ng-model = "searchSuggestions" placeholder="Search Suggestions" />
	<ul ng-if = "userSuggestions.length > 0">
		<li ng-repeat ="suggestions in userSuggestions | filter:searchSuggestions">
		
				<i class="fa fa-lightbulb-o fa-2x"></i>
				<div class = "left-side-options">
					Try: {{suggestions.suggestion_name}}<br />
					Category: {{suggestions.suggestion_category}}<br />
					Price: {{suggestions.suggestion_price}}
				</div>
				<div class = "right-side-options">
					<a href = "/modify/{{suggestions.id}}"><i class="fa fa-pencil-square-o"></i> Edit</a><br />
					<button class = "transparent-btn smaller-btn" confirmed-delete="confirmDelete( suggestions.id, suggestions.suggestion_name)" ng-confirm-delete='Are you sure you want to delete "{{suggestions.suggestion_name}}"'>Delete</button><br/>
				</div>
			
			
		</li>
	</ul>
	<div class ="no-suggestions" ng-if="userSuggestions.length == 0">
		Hmm, there appears to be no suggestions here. Why not add some?
	</div>
		
</div>



